{{ define "header" }}
<!-- Post Header -->
<style type="text/css">
    header.intro-header {
        background-image: url('{{ if .Params.image }}{{ .Params.image | relURL }}{{ else }}{{ .Site.Params.header_image | relURL}}{{ end }}')
    }
</style>
{{ if eq .Params.headerstyle "text" }}
<header class="intro-header style-text" >
{{ else }}
<header class="intro-header" >
{{ end }}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {{ range .Params.tags }}
                        <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">
                            {{ . }}
                        </a>
                        {{ end }}
                    </div>
                    <h1>{{ .Title }}</h1>
                    <h2 class="subheading">{{ .Params.subtitle }}</h2>
                    <span class="meta">
                        {{ if .Params.metadata }}
                            {{ range $index, $element := .Params.metadata }}
                                {{ if .link }}
                                    <a href="{{ .link }}" target="_blank">{{ .text }}</a>&nbsp;
                                {{ else }}
                                    {{ .text }}
                                {{ end }}
                            {{ end }}
                            <br>
                            <br>
                        {{ end }}
                        Posted by 
                        {{ if .Params.author }}
                            {{ .Params.author }}
                        {{ else }}
                                {{ .Site.Title }}
                        {{ end }} 
                        on 
                        <!-- {{ .Date.Format "Monday, January 2, 2006" }} -->
                        {{ .Date.Format "2006-01-02" }}
                        {{ if .Site.Params.page_view_counter }}
                            {{ partial "page_view_counter.html" . }}
                        {{ end }}
                        <!-- Don't show "Last Modified on" if update happened on the same day. -->
                        {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date)))) }}
                        <br>Last Modified on {{ dateFormat "2006-01-02" .Params.LastMod }}
                        {{ end }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ define "main" }}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

            <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                <!--
                {{ if not (eq (.Param "showtoc") false) }}
                <header>
                    <h2>TOC</h2>
                </header>
                {{.TableOfContents}}
                {{ end }}
                -->
                {{ .Content }}

                {{ if .Site.Params.reward }}
                {{ partial "reward.html" . }}
                {{ end }}

                {{ if or (.PrevInSection) (.NextInSection) }}
                <hr>
                <ul class="pager">
                    {{ if .PrevInSection }}
                    <li class="previous">
                        <a href="{{ .PrevInSection.RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title}}">&larr;
                            Previous Post</a>
                    </li>
                    {{ end }}
                    {{ if .NextInSection }}
                    <li class="next">
                        <a href="{{ .NextInSection.RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title}}">Next
                            Post &rarr;</a>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}

                {{ partial "comments.html" . }}
            </div>

            <!-- Side Catalog Container -->
            {{ if not (eq (.Param "showtoc") false) }}
            <div class="
                col-lg-2 col-lg-offset-0
                visible-lg-block
                sidebar-container
                catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">CATALOG</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
            {{ end }}

            <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <br /><br />
                <!-- Featured Tags -->
                {{ if .Site.Params.featured_tags }}
                <section>
                    <h5><a href="/tags/">FEATURED TAGS</a></h5>
                    <div class="tags">
                        {{ $featured_condition_size := .Site.Params.featured_condition_size }}
                        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        {{ if gt (len $taxonomy.Pages) $featured_condition_size }}
                        <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                            {{ $name | upper }}
                        </a>
                        {{ end }}
                        {{ end }}
                    </div>
                    <hr class="hidden-sm hidden-xs">
                </section>
                {{ end }}

                {{ if .Site.Params.publications }}
                <section>
                    <!-- <hr class="hidden-sm hidden-xs"> -->
                    <h5>{{ .Site.Params.publications.Title }}</h5>
                    <div class="short-about">
                        {{ range .Site.Params.publications.items }}
                        <a href="{{.href}}">
                            <img src="{{.image}}" alt="avatar" style="cursor: pointer" />
                        </a>
                        {{ end }}
                    </div>
                    <hr>
                </section>
                {{ end }}

                {{ if .Site.Params.last_posts }}
                <section>
                    <!-- <hr class="hidden-sm hidden-xs"> -->
                    <h5>{{ .Site.Params.last_posts_title | default `LAST POSTS` }}</h5>
                    {{ range ((where (where .Site.Pages "Type" "post") "IsPage" true).ByDate.Reverse.Limit (.Site.Params.last_posts_count | default 5 | int)) }}
                    <a href="{{ .RelPermalink }}">{{.Title }} - <span style="font-size: 14px; font-style: italic;">{{ .Date.Format "2006-01-02" }}</span></a><br />
                    {{ end }}
                    <hr>
                </section>
                {{ end }}
    
                <!-- Bookmarks -->
                {{ if .Site.Params.bookmarks }}
                <section>
                    <h5>QUICK LINKS</h5>
                    <ul class="list-inline">
                        {{ range .Site.Params.bookmark_link }}
                        <li><a target="_blank" href="{{.href }}">{{.title}}</a></li>
                        {{ end }}
                    </ul>
                    <hr>
                </section>
                {{ end }}

                <!-- Friends Blog -->
                {{ if .Site.Params.friends }}
                <section>
                    <h5>FRIENDS</h5>
                    <ul class="list-inline">
                        {{ range .Site.Params.friend_link }}
                        <li><a target="_blank" href="{{.href}}">{{.title}}</a></li>
                        {{ end }}
                    </ul>
                    <hr>
                </section>
                {{ end }}

                <!-- sidebar.html 和 post.html 模板中均有 赞赏名单 模块 -->
                 {{ if .Site.Params.reward }}
                 <section>
                     <h5 style="color: #0085a1;">赞赏名单</h5>
                     <ul class="list-inline" style="font-size: 14px; font-weight: bolder; color: #0085a1;">
                         <li style="display: inline-block; margin-bottom: 8px; font-size: 16px;">💰 Total：¥100 (☕️ x 5)</li><br />
                         <li>🚀 <span>2026-01-14</span>&nbsp;&nbsp;•&nbsp;&nbsp;<span>¥100 (☕️ x 5)</span>&nbsp;&nbsp;•&nbsp;&nbsp;<span style="font-style: italic;"><a href="https://www.douyin.com/user/MS4wLjABAAAA84o70K2c9LEZXJ9fHp0deVyvxMudni7rQgAahjtoWIX34SCg61Gbf6H4HYKneZsW" target="_blank" style="color: #0085a1!important; text-decoration: underline;">@言戈 👉</a></span></li><br />
                         <li>🚀 •••</li><br />
                      </ul>
                      <hr>
                </section>
                {{ end }}
                    <br />
            </div>
        </div>
    </div>
</article>

{{ end }}
